<section class="player">
  <h1>{{player.name}}</h1>
  <p>
    <img width='100' src='{{player.profile}}' alt='profile-pic'>
  </p>
  <div class="body">
    <p>
      Grias eich, i bin da {{player.name}} aus {{player.country}} und i bin
      {{age player.birthdate}} Jahre alt.
    </p>
    <p>
      {{player.bio}}
    </p>
  </div>
</section>
